In [1]:
%load_ext autoreload
%autoreload 2

# ML classifiers analysis

In [2]:
import os
import sys

# Get the current working directory
notebook_dir = os.getcwd()

# Change the working directory to the root directory of the project
os.chdir("../")

# move up to the parent directory(project root)
sys.path.append(os.path.abspath(os.path.join(notebook_dir, "..")))

os.getcwd()

'/home/mhannani/Documents/sentiment_analysis'

In [12]:
from pathlib import Path
from src.utils.parsers import parse_toml

# configuration filepath
CONFIG_FILE = Path("configs/myc_config.toml")

# read configuration object
config = parse_toml(CONFIG_FILE)

# useful variables
data_root = Path(config['data']['root'])
external_data = config['data']['external']
raw_data = config['data']['raw']
interim_data = config['data']['interim']
processed_data = config['data']['processed']
preprocessed_corpus_csv_filename = config['data']['preprocessed_corpus_csv']

# constructing the filepath of the corpus
csv_filepath_processed_data = data_root / processed_data / preprocessed_corpus_csv_filename

### 1. Data

In [14]:
from src.data.split import DataSplitter

# data splitter
data_splitter = DataSplitter(config, csv_filepath_processed_data)

In [33]:
train_df, test_df = data_splitter.split()

In [34]:
train_df.head()

                                                  tweets  type
14857  الي یحق حلمي اله یجازیه وینور لیه حیاتو یوفقو ...     0
2035   الام مجرمه لانها فرطت في اليتامي واله لن يتركه...     0
1394          رضا مستقبلي كله في ايدك امزح معك اله يحفظك     1
3293                     واله يعجز السان عن الكلام صراحه     0
8128   دابا ماشي حرام علي هدشي لي دوز هد الاباء علي ب...     0

In [35]:
test_df.head()

                                                  tweets  type
12572                           3ajaza lisan 3ani lkalam     0
10952  احبناك ولم نراك واحزنتنا ولم نعرفك وفارقتنا ول...     0
8812   خلونا نوقفو معاه اطلع كاحسن مغني في افريقيا و ...     1
5105        واله انت احسن واحد في هاد اليوتوب برافو عليك     1
11500  b9at fya bzaf maskina lah idir liha chi tawali...     0

In [39]:
# import pycaret classification and init setup
from pycaret.classification import ClassificationExperiment, compare_models
exp = ClassificationExperiment()

In [40]:
# init setup on exp
exp.setup(data = train_df, test_data = test_df, target = 'type', session_id = 42)

In [41]:
# compare baseline models
best = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .             00:51:56
Status     . . . . . . . . . . . . . . . . . .     Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Logistic Regression

Empty DataFrame
Columns: [Model, Accuracy, AUC, Recall, Prec., F1, Kappa, MCC, TT (Sec)]
Index: []

Processing:   0%|          | 0/69 [00:00<?, ?it/s]